.inner-container{
    gap: 1.5rem;
    background: #4161df;
    padding: 2rem;
    border-radius: 10px;
    border: 6px solid #5d77d6;
    text-align: center;
}

.inner-container .primaryText
{
    color: white;
}

.inner-container .secondaryText
{
    color: #ddd;
}

.inner-container .button{
    background: #5d77d6;
    border: 2px solid #ddd;
    box-shadow: var(--shadow);
}