.hero-wrapper{
    color: white;
    position: relative;
    padding-bottom: 2rem;
}

.hero-container{
    justify-content:space-evenly;
    align-items: flex-end;
}

/* Left Side */
.hero-left{
    gap: 3rem;
}

.hero-title{
    position: relative;
    z-index: 1;
}

.hero-title > h1{
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.2rem;
}

.search-bar{
    background-color: white;
    border-radius: 5px;
    border: 3px solid rgba(120, 120,120,0.37) ;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.search-bar > input{
    border: none;
    outline: none;
}

.hovering-circle{
    background: var(--orange-gradient);
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 999px;
    position: absolute;
    right: 28%;
    top:-12%;
    z-index: -1;
}

.hero-stats{
    width: 100%;
    justify-content: space-between;
}

.stat{
    flex: 1;
}

.stat >:nth-child(1)
{
    font-size: 2rem;

}
.stat >:nth-child(1) >:last-child{
    color: orange;
}

/* Right Side */

.image-container{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 13rem 13rem 2rem 2rem;
    border: 8px solid rgba(255, 255,255,0.13);    
}

.image-container > img{
    width: 100%;
    height: 100%;
} 

@media (max-width: 740px) {
    .hero-container{
        margin-top: 2rem;
    }

    .hero-title > h1{
        font-size: 2.3rem;
        line-height: 2.5rem;
    }

    .image-container{
        width: 95%;
        height: 25rem;
    }

    .hero-stats
    {
        display: flex;
        flex-direction: column;
        
    }
}