.r-card{
    margin-bottom: 2rem;
}

.r-head{
    z-index: -1;
}

.r-container{
    position: relative;
}

.r-card{
    gap: 0.5rem;
    padding: 1rem;
    border: 10px;
    max-width: max-content;
    margin: 4rem auto;
    transition: all 200ms ease-in;
}

.r-card:hover{
    transform: scale(1.04);
    cursor: pointer;
    background: linear-gradient(
        180deg,
        rgba(82, 166, 187, 0) 0%,
        rgba(215, 157, 157, 0.5) 210%
    );
    box-shadow: 0px 73px 45px -50px rgba(139, 161, 255, 0.20);
}

.swiper-horizontal{
    overflow: visible;
}

.r-card>img{
    width: 100%;
    max-width: 16rem;
}

.r-card>:nth-child(2)
{
    font-size: 1.2rem;
    font-weight: 600;
}

.r-card>:nth-child(3)
{
    font-size: 1.4rem;
}

.r-card>:nth-child(4)
{
    font-size: 0.8rem;
    width: 15rem;
}

.r-buttons{
    position: absolute;
    right: 45%;
    gap: 1rem;
    top: 0;
    z-index: 1;
}

.r-buttons button{
    font-size: 1.3rem;
    padding: 0.3rem 0.9rem;
    color: orange;
    border: none;
    border-radius: 5px;
    background: var(--primary);
}

.r-buttons button:hover{
    cursor: pointer;
    opacity: 0.85;
}

@media (max-width: 640px){
    .r-head{
        align-items: center;
    }

    .r-buttons{
        position: initial;
    }
}