.h-wrapper{
    color: white;
}

.h-container{
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
}

.h-menu{
    gap: 2rem;
}

.h-menu>*:hover{
    cursor: pointer;
}

.menu-icon{
    display: none;
}

@media (max-width: 768px) {
    .menu-icon{
        display: block;
    }

    .h-menu{
        color: #000;
        position: absolute;
        top:3rem;
        right:1rem;
        background: #fff;
        flex-direction: column;
        padding: 3rem;
        gap: 1rem;
        font-weight: 500;
        border-radius: 10px;
        align-items: flex-start;
        box-shadow: var(--shadow);
        transition: all 200ms ease-in;
        z-index: 100;
    }
}