.v-container .image-container{
    border: 8px solid rgb(232, 232, 232);
}

.v-container > div{
    flex: 1;
}

.v-right{
    gap: 0.5rem
}

.accordion{
    margin-top: 2rem;
    border: none;
}

.accordion-Item{
    background: white;
    border: 1px solid rgba(128,128,128,0.15);
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.accordion-button{
    background: white;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}

.icon{
    padding: 10px;
    background-color: #eeeeff;
    border-radius: 5px;
}

.icon svg{
    fill: var(--blue);
}

.accordion-button .primaryText{
    font-size: 1.3rem;
}

.expanded{
    box-shadow: var(--shadow);
    border-radius: 6px;
}

@media (max-width: 1024px)
{
    .v-container{
        flex-direction: column;
    }

    @media  (max-width: 760px){
        .accordion-button .primaryText{
            font-size: 0.8rem;
        }
    }
}