.f-container{
    justify-content: space-between;
}

.f-left{
    gap: 1rem;
}

.f-menu{
    gap: 1rem;
    font-weight: 500;
    margin-top: 1.5rem;
}

@media (max-width: 1024px) {
    .f-container{
        justify-content: center;
    }

    .f-container div{
        align-items: center !important;
        text-align: center;
    }
}