.App{
    position: relative;
    overflow-x: clip;
}

.App >:nth-child(1)
{
    background: var(--black);
    position: relative;
}

.white-gradient{
    position: absolute;
    width: 25rem;
    height: 25rem;
    background: rgba(255,255,255,0.522);
    filter: blur(100px);
    border-radius: 12rem;
}